# Created by .ignore support plugin (hsz.mobi)
### Example user template template
### Example user template

# IntelliJ project files
.idea
*.iml
out
gen
/build/
/dist/
/adv_utils.egg-info/
*.iso
*.list
test.png
/advUtils/system.py.-Psudocodetxt
/advUtils/temp_7d8999ff99e.mp3
advUtils/__pycache__/advRandom.cpython-37.pyc
advUtils/__pycache__/code.cpython-37.pyc
advUtils/__pycache__/miscellaneous.cpython-37.pyc
/advUtils/__pycahce__/
/pyqt5/
/test.py
/test2.py
/test3.py
/test4.py
/test5.py
/test6.py
/test7.py
/test8.py
*.toml
advUtils/information.py
