beautifulsoup4
gtts
playsound
comtypes
pywifi
screeninfo
wxPython~=4.1.0
pyGoogleSearch~=2.5
googleimagedownloader
psutil~=5.7.0
PyYAML
fastutils~=0.10.0
bizerror
decutils
toml

requests~=2.23.0
overload~=1.1
Geometry~=0.0.23
future~=0.18.2
setuptools~=46.3.0
advutils~=1.0.0
pywin32~=227
pycdlib~=1.9.0
dill~=0.3.1.1