beautifulsoup4
gtts
playsound
comtypes
pywifi
screeninfo
wxPython~=4.1.0
pyGoogleSearch~=2.5
googleimagedownloader
psutil~=5.7.0
PyYAML
fastutils~=0.10.1
bizerror
decutils
toml
requests~=2.23.0
overload~=1.1
Geometry~=0.0.23
future~=0.18.2
setuptools~=47.1.1
advutils~=1.0.0
pywin32~=227
pycdlib~=1.10.0
dill~=0.3.1.1
Pillow~=7.1.2
Deprecated~=1.2.10
click~=7.1.2
wrapt~=1.12.1
python-interface~=1.6.0
